<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/site.css"> 
    <title>RO Sales Checking App</title>

    <style>
        h2 {
            text-align: center;
        }

        body {
            margin: auto;
            width: 50%;
            border: 3px solid transparent;
            padding: 10px;
        }

        form {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }

        #customers {
            max-width: 50%;
            margin: auto;
        }
    </style>
</head>
<body>

<h2>RO Sales Checking</h2>

<form>
  <label for="ktp">Nomor KK:</label><br>
  <input type="text" id="kk" name="kk" value="" placeholder="masukan nomor KK"><br>
  <button type="button" id="submitBtnKK">Cari Berdasarkan KK</button>
</form>

<br><br>

<form>
  <label for="ktp">Nomor KTP:</label><br>
  <input type="text" id="ktp" name="ktp" value="" placeholder="masukan nomor KTP"><br>
  <button type="button" id="submitBtnKTP">Cari Berdasarkan KTP</button>
</form>

<br><br>

<div id="tableResult">
    <table id="customers">
        <tr>
            <th>STATUS</th>
        </tr>
    </table>
</div>

<br><br>

<div>
    <h2>Petunjuk Penggunaan Aplikasi</h2>
    <p>Untuk melakukan pengecekan konsumen RO sales Honda adalah sebagai berikut: </p>
    <ol>
        <li>Pada aplikasi terdapat dua buah box berisi form input dan juga tombol yang terbagi menjadi dua, yaitu pengecekan RO berdasarkan Nomor KK dan juga berdasarkan Nomor KTP</li>
        <li>Untuk melakukan pengecekan RO sales berdasarkan nomor KK, maka inputkan nomor KK ke dalam form input khusus KK, dan kemudian klik tombol <strong>Cari Berdasarkan KK</strong></li>
        <li>Sedangkan, untuk mencari berdasarkan nomor KTP, hal yang dilakukan adalah sama, namun inputkan nomor KTP ke dalam form khusus monor KTP dan kemudian klik tombol <strong>Cari Berdasarkan KTP</strong></li>
        <li>Setelah anda menekan tombol, baik <strong>Cari Berdasarkan KK</strong> ataupun <strong>Cari Berdasarkan KTP</strong> maka akan ada output dibawah label <strong>STATUS</strong>.</li>
        <li>Output yang dihasilkan adalah <strong>RO SALES (By KK)</strong> bila konsumen adalah RO sales ketika dicari berdasarkan KK, atau <strong>RO SALES (By KTP)</strong> jika konsumen adalah RO sales ketika dicari berdasarkan KTP</li>
        <li>Namun bila output yang dihasilkan adalah <strong>BUKAN RO SALES (By KK)</strong> atau <strong>BUKAN RO SALES (By KTP)</strong> maka konsumen tersebut bukanlah RO sales Honda</li>
    </ol>
</div>

<script>
    const submitBtnKK = document.getElementById("submitBtnKK");
    const submitBtnKTP = document.getElementById("submitBtnKTP");
    const table = document.getElementById("customers");
    
    submitBtnKK.addEventListener("click", async (event) => {
        event.preventDefault();
        const kk = document.getElementById("kk").value;

        while (table.lastElementChild) {
            if (table.children.length === 1) break;
            table.removeChild(table.lastElementChild);
        }

        if (!kk) {
            alert("mohon isi nilai di dalam form terlebih dahulu");
            return;
        }

        const res = await fetch(`/index/find/kk/${kk}`)

        const tr = document.createElement('tr');
        const td = document.createElement('td');
        tr.appendChild(td);
        table.appendChild(tr);

        const data = await res.json()
        if (res.status === 200 && data.length > 0)  td.innerHTML = "<strong>RO SALES (By KK)</strong>";
        else td.innerHTML = "<strong>BUKAN RO SALES (By KK)</strong>";

    })

    submitBtnKTP.addEventListener("click", async (event) => {
        event.preventDefault();
        const ktp = document.getElementById("ktp").value;

        while (table.lastElementChild) {
            if (table.children.length === 1) break;
            table.removeChild(table.lastElementChild);
        }

        if (!ktp) {
            alert("mohon isi nilai di dalam form terlebih dahulu");
            return;
        }

        const res = await fetch(`/index/find/ktp/${ktp}`)

        const tr = document.createElement('tr');
        const td = document.createElement('td');
        tr.appendChild(td);
        table.appendChild(tr);

        const data = await res.json()
        if (res.status === 200 && data.length > 0) td.innerHTML = "<strong>RO SALES (By KTP)</strong>";
        else td.innerHTML = "<strong>BUKAN RO SALES (By KTP)</strong>";
    });
</script>

</body>
</html>