<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/site.css"> 
</head>
<body>

<h2>Search By KK</h2>

<form>
  <label for="ktp">Nomor KK:</label><br>
  <input type="text" id="kk" name="kk" value=""><br>
  <button type="button" id="submitBtn">Submit</button>
</form>

<div id="tableResult">
    <table id="customers">
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>No Engine</th>
            <th>Tgl Mohon Faktur</th>
            <th>Fincoy</th>
            <th>Type</th>
            <th>KTP</th>
            <th>KK</th>
            <th>Dealer</th>
            <th>Bulan</th>
            <th>Tahun</th>
        </tr>
    </table>
</div>

<script>
    const submitBtn = document.getElementById("submitBtn");
    const table = document.getElementById("customers");
    
    submitBtn.addEventListener("click", async () => {
        const kk = document.getElementById("kk").value;

        while (table.lastElementChild) {
            if (table.children.length === 1) break;
            table.removeChild(table.lastElementChild);
        }

        if (!kk) {
            alert("mohon isi nilai di dalam form terlebih dahulu");
            return;
        }

        const res = await fetch(`/index/find/kk/${kk}`)
        if (res.status !== 200) {
            alert(`terjadi error dari server: ${res.statusText}`)
            return
        }

        const data = await res.json()
        for (let i = 0; i < data.length; i++) {
            const tr = document.createElement('tr');

            Object.keys(data[i]).forEach((key, index) => {
                const td = document.createElement('td');
                td.innerText = data[i][key];

                tr.appendChild(td);
            });

            table.appendChild(tr)
        }
    })
</script>

</body>
</html>