<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/site.css"> 
</head>
<body>

<h2>Search By KTP</h2>

<form>
  <label for="ktp">Nomor KTP:</label><br>
  <input type="text" id="ktp" name="ktp" value=""><br>
  <button type="button" id="submitBtn">Submit</button>
</form>

<div id="tableResult">
    <table id="customers">
        <tr>
            <th>STATUS</th>
        </tr>
    </table>
</div>

<script>
    const submitBtn = document.getElementById("submitBtn");
    const table = document.getElementById("customers");
    
    submitBtn.addEventListener("click", async (event) => {
        event.preventDefault();
        const ktp = document.getElementById("ktp").value;

        while (table.lastElementChild) {
            if (table.children.length === 1) break;
            table.removeChild(table.lastElementChild);
        }

        if (!ktp) {
            alert("mohon isi nilai di dalam form terlebih dahulu");
            return;
        }

        const res = await fetch(`/index/find/ktp/${ktp}`)

        const tr = document.createElement('tr');
        const td = document.createElement('td');
        tr.appendChild(td);
        table.appendChild(tr);

        const data = await res.json()
        if (res.status === 200 && data.length > 0) td.innerText = "RO SALES";
        else td.innerText = "BUKAN RO SALES";

    })
</script>

</body>
</html>